body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://lh3.googleusercontent.com/proxy/_9Ptb_RbAnchIY8ngPibrTcGK2rQTBm9wrNSf33BqMWCJ1Mb3GOtOVUiJyO4-ya54SJKTHAIY_PYE_N9jzdTPEG0ZV6pDrkz7Hi0");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
